body {
  background-color: #f8fafc;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  background-color: #bef264;
  height: 40px;
  margin: 0;
  padding: 0 5px;
}

.nav-item {
  padding: 0 6px;
}

.nav-item a {
  text-decoration: none;
  font-weight: bold;
  color: #334155;
}

.nav-item a:hover,
.nav-item a:active {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
